* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  overflow: hidden;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.log-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20rem;
  padding: 0 2rem;
}

.img-log {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* transform: skewX(5deg); */
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img-log img {
  width: 100%;
}

.log-form {
  /* width: 360px; */
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 50px 40px 40px;
  background: rgba(220, 220, 220, 0.4);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.login-content img {
  position: absolute;
  top: -50px;
  width: 100px;
  left: calc(50% - 50px);
  border-radius: 50%;
  box-shadow: 0px -10px 35px rgba(0, 0, 0, 0.5);
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

#toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-45%);
  color: #d9d9d9;
  cursor: pointer;
}
#toggle:hover {
  color: #f9a826;
}
.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #f9a826;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}
/********************************/

.input-div.focus > .i > i {
  color: #f9a826;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.1rem;
  color: #555;
}

.input-div.pass {
  position: relative;
  margin-bottom: 4px;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: #f9a826;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #f9a826, #d6850c, #f9a826);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-position: right;
}
#forgot-pw {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  /* background: #fff; */
  opacity: 0;
  transition: 0.6s;
}
#forgot-pw > .log-form {
  max-width: 600px;
}
#forgot-pw:target {
  height: 100%;
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
}

@media screen and (max-width: 1300px) {
  .log-container {
    grid-gap: 10rem;
  }
}
@media screen and (max-width: 1100px) {
  .log-container {
    grid-gap: 5rem;
  }
  .img-log img {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .log-form {
    /* width: 290px; */
    width: 360px;
  }

  .img-log img {
    width: 105%;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  #forgot-pw > .log-form {
    width: 500px;
  }
}

@media screen and (max-width: 900px) {
  .log-form {
    /* width: 290px; */
    width: 450px;
  }
  .log-container {
    grid-template-columns: 1fr;
  }

  .img-log {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}
.error-input {
  font-size: 1rem;
  color: red;
}
