.reg-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
.reg-container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 0 5% 0 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.reg-container:before {
  /* display: none; */
  content: "";
  position: absolute;
  background: linear-gradient(135deg, #f9a826, #d6850cee);
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  top: -11%;
  right: 28%;
  transform: translateY(-15%) translateX(5%);
  z-index: -1;
  opacity: 0.9;
}

.reg-container:after {
  /* display: none; */
  content: "";
  position: absolute;
  background: linear-gradient(135deg, #f9a826, #d6850cee);
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  bottom: 0;
  right: 25%;
  transform: translateX(100%);
  z-index: -1;
  /* opacity: 0.8; */
}

.reg-container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.reg-container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 85px;
  border-radius: 5px;
  background: linear-gradient(135deg, #f9a826, #d6850c);
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 15px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 15px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
/* .user-details .pwd input + span {
  position: relative;
}
.user-details .pwd input + span:before {
  position: absolute;
  right: -20px;
  top: 0px;
}
.user-details .pwd input:invalid {
  border: 2px solid red;
}
.user-details .pwd input:invalid + span:before {
  content: "✖";
  color: red;
}

.user-details .pwd input:valid + span:before {
  content: "✓";
  color: green;
} */

.user-details .input-box input:focus {
  border-color: #f9a826;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .r-dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .d-one,
#dot-2:checked ~ .category label .d-two,
#dot-3:checked ~ .category label .d-three {
  background: #f9a826;
  border-color: #d9d9d9;
}
form input[type="radio"] {
  display: none;
}

form .button {
  position: relative;
  height: 45px;
  margin: 35px 0;
}
form .button input {
  position: absolute;
  left: 10%;
  height: 100%;
  width: 80%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #f9a826, #d6850c);
}
form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #f9a826, #d6850c);
}
@media (max-width: 584px) {
  .reg-container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .reg-container .content .category {
    flex-direction: column;
  }
}
