.modal-container {
  position: relative;
}

#add-user {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 10%;
  right: 0;
  /* border-style: dashed; */
  z-index: 99999;
  /* background: red; */
  opacity: 1;
  transition: 0.6s;
}

#add-user > .inv-form {
  max-width: 600px;
}

.inv-form {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 50px 40px 40px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
